html {
	background-color: #fafafa;
}

body {
	margin-top: 0px;

}

	/* Body and page styling ^	*/

#header {
	display: block;
	position: fixed;
	width: 100%;
	height: 45px;
	background-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-color: #DBDBDB ;
	border-bottom-width: 1px;
	margin-bottom: 30px;
}

	/* Header container styling ^ */

#logo {
	display: inline-block;
	width: 90px;
	height: 60px;
	float: left;
	margin-left: 400px;
	padding-bottom: 10px;
}

	/* Instagram logo header ^ */

#search {
	display: inline-block;
	float: none;
	height: 20px;
	width: 100px;
	border-style: solid;
	border-width: 1px;
	border-color: #DBDBDB;
	background-color: #FAFAFA;
	margin-top: 11px;
	margin-left: 240px;
	padding-left: 55px;
	padding-top: 3px;
	font-size: 12px;
	border-radius: 3px;
	font-size: small;
    color: grey;
    font-family: Verdana;
    font-weight: lighter;
    margin-right: 90px;
}

	/* Search bar ^ */
	
 #dp { 
 	display: inline-block;
 	float: none;
 	height: 20px;
 	width: 20px;
 	padding-right: 390px;
 	padding-top: 12px;
  }

#msg {
	height: 25px;
	width: 25px;
	padding-right: 15px;
}


#heart {
	height: 20px;
	width: 20px;
	padding-right: 15px;

}


#ex {
	height: 20px;
	width: 20px;
	padding-right: 15px;

}


#home {
	height: 20px;
	width: 20px;
	padding-right: 15px;

}

	/* Icons ^ */

#notes {
	padding-left: 25%;
	display: inline-block;
}


.notes {
	width: 450px;
}

	/* Notification images stying ^ */


#Eng {
	display: inline-block;
	float: right;
	padding-left: 100px;
	top: 200px;
	width: 270px;
}

	/* Mini engagement menu ^ */
